@charset "UTF-8";

/* /// FORM /// */

section#form {
    width:884px;
    height:auto;
    padding:20px 0 40px;
    margin:0 auto;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
}

section#form p {
    width:720px;
    font-size:18px;
    line-height:24px;
    margin-bottom:40px;
}

section#form p.confirmation {
    font-size:36px;
    line-height:46px;
    margin-top:15px;
}

section#form p span.bold {font-weight:bold;}

section#form span.gray,
section#form span.red {
    width:720px;
    font-size:16px;
    line-height:20px;
    margin-bottom:40px;
}

section#form span.gray {
    color:rgb(186,186,186);
    margin-right:5px;
}

section#form span.red {color:rgb(255,0,0);}

section#form div.col,
section#form div.col_login {
    float:left;
    width:435px;
    margin-right:14px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
}

section#form div.col:last-of-type {margin-right:0;}

section#form div.col_login {
    width:300px;
    margin-top:30px;
}

/* RESPONSIVE ADJUSTMENTS */

/* Height */
/*
@media only screen 
and (max-height: 704px) {}
*/

/* Width */

/*
@media only screen 
and (max-width : 1609px) {}
*/

@media only screen 
and (max-width : 999px) {
    section#form {width:664px;}
    section#form div.col {width:325px;}
    section#form p {width:680px;}
}

@media only screen 
and (max-width : 747px) {
    section#form {
        width:100%;
        padding:20px 20px 40px; 
    }
    section#form div.col {width:100%;}
    section#form p {width:80%;}
    section#form div.col_login {width:100%;}
}

/*
@media only screen 
and (max-width : 440px) {}
*/

/* Tablets Only */

/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {}
*/