@charset "UTF-8";

/* /// HEADER /// */

section.header {
    background:rgba(0,0,0,0.85);
    width:100%;
    min-width:1050px;
    height:92px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
}

section.header div.wrapper_header {
background:red;
    width:970px;
    height:100%;
    margin:0 auto;
}

/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 747px) {}
