@charset "UTF-8";

/* Generic Nav Styles */

.nav_block {
    padding-bottom:40px;
    border-bottom:1px solid rgb(74,125,123);
}
.nav_block:last-of-type {border-bottom:none;}

.sidebar_pusher h2 {
    padding:46px 40px 44px;
    margin:0;
    /* Text */
    color:rgb(58,85,86);
    text-transform:uppercase;
    font-size:2.4rem;
    font-weight:400;
}

/* Close Btn */

.btn_close_nav {
    display:block;
    position:absolute;
    top:43px; right:31px;
    background:center center no-repeat;
    background-size:10px 10px !important;
    width:30px;
    height:30px;
    cursor:pointer;
    display:none;
}
#btn_close_main {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4cHgiIGhlaWdodD0iOHB4Ij48Zz48Zz48cmVjdCB4PSItMSIgeT0iMy4zIiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxIDAuNzA3MSAtMC43MDcxIC0wLjcwNzEgOS42NTY5IDQpIiBmaWxsPSIjM0E1NTU2IiB3aWR0aD0iMTAiIGhlaWdodD0iMS4zIi8+PHJlY3QgeD0iLTEiIHk9IjMuMyIgdHJhbnNmb3JtPSJtYXRyaXgoLTAuNzA3MSAtMC43MDcxIDAuNzA3MSAtMC43MDcxIDQgOS42NTY5KSIgZmlsbD0iIzNBNTU1NiIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEuMyIvPjwvZz48L2c+PC9zdmc+');}

/* Nav Main */

#nav_main {list-style-type:none;}

#nav_main a {
    display:block;
    background-color:rgba(0,0,0,0.0);
    padding:12px 40px;
    -webkit-transition:background-color 0.8s,
                       color            0.8s;
    	    transition:background-color 0.8s,
    	               color            0.8s;
    /* Text */
    font-size:1.8rem;
    font-weight:400;
    letter-spacing:0.1rem;
    color:rgb(242,239,223);
    text-shadow:1px 1px rgb(74,125,123);
    text-decoration:none;
}

.no-touch #nav_main a:hover {
    background-color:rgba(0,0,0,0.07);
    color:rgb(255,255,255);
    -webkit-transition:none;
    	    transition:none;
}

#nav_main a.active_page {
    background-color:rgba(74,125,123,0.4);
    pointer-events:none;
}

/* Nav Main */

#nav_share {
    padding:0 40px;
    list-style-type:none;
}

#nav_share li {
    position:relative;
    width:100%;
    height:30px;
    margin-bottom:10px;
    overflow:hidden;
    -webkit-transition:color 0.2s ease-in-out;
    transition:        color 0.2s ease-in-out;
    /* Text */
    font-size:1.8rem;
    font-weight:400;
    letter-spacing:0.1rem;
    color:rgb(242,239,223);
    text-shadow:1px 1px rgb(74,125,123);
    text-decoration:none;
    
}
.no-touch #nav_share li:hover {color:rgb(255,255,255) !important;}


#nav_share li::before {
    z-index:8;
    position:absolute;
    top:0; left:0;
    background-color:rgb(84,135,133);
    width:100%;
    height:100%;
    pointer-events:none;
    content:'';
}

#nav_share li::after {
    z-index:9 !important;
    position:absolute !important;
    top:0 !important; left:0 !important;
    background:center center no-repeat;
    width:100%;
    height:100%;
    pointer-events:none;
    content:'';
}

#nav_share li.share_twitter::after {content:'Twitter';}
#nav_share li.share_facebook::after {content:'Facebook';}
#nav_share li.share_gplus::after {content:'Google+';}

/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 320px) {.btn_close_nav {display:block;}}