@charset "UTF-8";

/* /// FORMS /// */

/* STANDARD */

form,
fieldset {
    overflow:hidden;
    position:relative;
    width:100%;
    padding:0;
    margin:0;
}

form input,
form select,
form textarea {
    position:relative;
    width:100%;
    max-width:100%;
    -webkit-appearance:none;
    -moz-appearance:   none;
    appearance:        none;
    outline:none;
    resize:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
    -webkit-transition:background-color 0.3s ease-in-out,
                       border-color 0.3s ease-in-out,
                       color 0.3s ease-in-out;
    transition:        background-color 0.3s ease-in-out,
                       border-color 0.3s ease-in-out,
                       color 0.3s ease-in-out;
}

/* Input and Text Area */

form textarea,
form input[type=url],
form input[type=date],
form input[type=time],
form input[type=text],
form input[type=email],
form input[type=number],
form input[type=password] {
    background:rgb(255,255,255);
    height:48px;
    padding:0 15px 0 15px;
    border:2px solid rgb(198,198,198);
    border-radius:0;
    margin-bottom:15px;
}

form textarea {
    height:140px;
    padding:15px;
}

form input[type=text].text_short,
form input[type=text].text_medium {float:left;}

form input[type=text].text_short {width:310px;}
form input[type=text].text_medium {width:584px;}

form textarea:focus,
form input[type=url]:focus,
form input[type=date]:focus,
form input[type=time]:focus,
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=number]:focus,
form input[type=password]:focus {border-color:rgb(142,142,142);}

form textarea::-webkit-input-placeholder {color:rgb(51,51,51);}
form textarea:-moz-placeholder           {color:rgb(51,51,51);}
form textarea::placeholder               {color:rgb(51,51,51);}

form input::-webkit-input-placeholder    {color:rgb(51,51,51);}
form input:-moz-placeholder              {color:rgb(51,51,51);}
form input::placeholder                  {color:rgb(51,51,51);}

/* Select */

form select {
    z-index:2;
    height:48px;
    width:100%;
    background:rgb(233,233,233) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjQ4cHgiPjxwb2x5Z29uIGZpbGw9IiM3QTdBN0EiIHBvaW50cz0iMjIsMjkuMjg1IDE2LDE5IDI4LDE5ICIvPjwvc3ZnPg==') left center no-repeat;
    padding:0 12px 0 40px;
    border:2px solid rgb(198,198,198);
    border-radius:0;
    margin-bottom:15px;
    outline:none;
    cursor:pointer;
    overflow:hidden;
}

form select.select_short,
form select.select_medium {
    float:left;
    margin-right:15px;
}

form select.select_short {width:110px;}
form select.select_medium {width:285px;}

form select.block {
    display:block;
    clear:both;
    float:none;
}

form select:focus {border-color:rgb(142,142,142);}

form option::-moz-selection{background:rgba(250,250,250,0.0); color:#555555; text-shadow:none;}
form option::selection     {background:rgba(250,250,250,0.0); color:#555555; text-shadow:none;}

/* Buttons */

button {
    display:block;
    background:rgb(17,17,17);
    height:80px;
    width:440px;
    padding:0 20px;
    border:none;
    border-radius:1px;
    margin-top:15px;
    -webkit-appearance:none;
    -moz-appearance:   none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:   border-box;
    box-sizing:        border-box;
    -webkit-transition:background-color 0.3s ease-in-out,
                       border-color     0.3s ease-in-out;
    transition:        background-color 0.3s ease-in-out,
                       border-color     0.3s ease-in-out;
    /* Text */
    font-size:22px;
    font-weight:bold;
    color:rgb(255,255,255);
    -webkit-font-smoothing:antialiased;
}

button:hover,
button:active {background:rgb(112,112,112);}

button.login {
    height:48px;
    width:300px;
}

/* Error States */

form input.error,
form select.error {
    border-color:rgb(255,0,0) !important;
    color:rgb(255,0,0) !important;
}

form input.error::-webkit-input-placeholder {color:rgb(255,0,0) !important;}
form input.error:-moz-placeholder           {color:rgb(255,0,0) !important;}
form input.error::placeholder               {color:rgb(255,0,0) !important;}

/* RESPONSIVE ADJUSTMENTS */

/* Height */
/*
@media only screen 
and (max-height: 704px) {}
*/

/* Width */

/*
@media only screen 
and (max-width : 1609px) {}
*/

@media only screen 
and (max-width : 999px) {
    form input[type=text].text_short {width:200px;}
    form input[type=text].text_medium {width:364px;}
    button {width:340px;}
}

@media only screen 
and (max-width : 747px) {
    form input[type=text].text_short {width:60%;}
    form input[type=text].text_medium {width:100%;}
    form select.select_short {
        width:35%;
        margin-right:5%;
    }
    form select.select_medium {width:100%;}
    button,
    button.login {width:100%;} 
}

/*
@media only screen 
and (max-width : 440px) {}
*/

/* Tablets Only */

/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {}
*/

/* MOZILLA FIXES */

@-moz-document url-prefix() {

    /* Select */
    form select {
        background-image:none;
        padding:14px 15px;
    }
    form select:active,
    form select:focus {outline-style:none;-moz-outline-style:none;}
    form select::-moz-focus-inner {border:0;}

}   

/* IE FIXES */

input::-ms-expand,
select::-ms-expand {display:none;} /* IE 10 Fix */

/* Select */

.ie9 form select {
    background-image:none;
    padding:14px 15px;
}

.ie9 form select:hover,
.ie9 form select:focus,
.ie9 form select:selected,
.ie9 form select:checked {
    background:transparent;
    border:none;
}